@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital,wght@0,300;0,400;0,600;0,700;1,200;1,300;1,400&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Serif Pro', serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  cursor: nw-resize;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    font-size: 60px;
    font-style: italic;
    font-weight: 300;
    color: #000;
    background: #937d2e;
  }
}
