.main {
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  position: fixed;
  top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.footer div {
  font-size: 50px;
}

.thought {
  width: 70vw;
  text-align: center;
}

@keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.25; }
  to { opacity: 1.0; }
}                

@-webkit-keyframes fade {
  from { opacity: 1.0; }
  50% { opacity: 0.25; }
  to { opacity: 1.0; }
}

.blink {
  animation:fade 4000ms infinite;
  -webkit-animation:fade 4000ms infinite;
  font-size: 100px;
  font-style: normal;
  position: fixed;
  top: -25px;
  right: 5px;
  color: rgb(249, 191, 153);
  font-weight: 600;
}

.read {
  transform: rotate(-90deg);
  left: -5px;
  position: absolute;
  font-size: 25px;
  color: #dca4ff;
}

.think {
  transform: rotate(0deg);
  top: 5px;
  position: absolute;
  font-size: 25px;
  color: #dca4ff;
}

.share {
  transform: rotate(-270deg);
  right: -10px;
  position: absolute;
  font-size: 25px;
  color: #dca4ff;
}

.cozyThoughts {
  bottom: 5px;
  position: absolute;
  font-size: 25px;
  color: #dca4ff;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}
